<%= form_for(@bot) do |f| %>
  <% if @bot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bot.errors.count, "error") %> prohibited this bot from being saved:</h2>

      <ul>
      <% @bot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= check_box_tag :follow_back, 0 %>
    <%= label_tag(:follow_back, "Follow Back") %>
    <%= fa_icon 'info-circle', data: {toggle: "tooltip", placement: "left" }, title: "Automatically follow users that follow you" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Save Bot', :class => "btn btn-default" %>
  </div>
      
<% end %>
