<h2>All Ur Bots R Belong 2 Us</h2>
<br>
<ul class="list-inline item-details">
  <li>
    <%= button_to connect_to_twitter_path(@user, @bot), class: "btn btn-default" do %>
      <%= fa_icon 'twitter' %> New Twitter Bot
    <% end %>
  </li>
  <li>
    <%= button_to new_bot_path, class: "btn btn-default" do %>
      <%= fa_icon 'instagram' %> New Instagram Bot
    <% end %>
  </li>
</ul>
<br>
<table id="bots">
  <thead>
    <tr>
      <th>Platform</th>
      <th>Username</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Time Left</th>
      <th>Status</th>
      <th class="edit"><%= fa_icon 'edit' %></th>
      <th class="trash"><%= fa_icon 'trash' %></th>
    </tr>
  </thead>

  <tbody>
    <% @bots.each do |bot| %>
      <tr>
        <td><%= bot.platform %></td>
        <td>Fake user</td>
        <td>123132</td>
        <td>1232</td>
        <td><%= bot.time_left %></td>
        <td><%= bot.status %></td>
        <td>
          <%= link_to edit_bot_path(bot), method: :get do %>
            <%= fa_icon 'edit' %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_bot_path(bot), method: :get, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon 'trash' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
